body {
    font-family: "readex pro";
    --primary-color: #5e6472;
    --secondary-color: #aed9e0;
}

em {
    font-style: normal;
}

.hero {
    height: 100vh;
}

.navbar-brand {
    font-family: "passion one";
}

.navbar-brand a {
    text-decoration: none;
    color: var(--primary-color);
}

.navbar-brand a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color .15s ease-in-out;
}

nav {
    background-color: white;
}

h1 {
    font-family: "passion one";
    color: var(--primary-color);
    font-size: 5rem;
}

h1 em {
    color: var(--secondary-color);
}

h2 {
    font-weight: bold;
    color: var(--primary-color);
    overflow:hidden;
}

h2::after {
    content: "";
    display: inline-block;
    height: 0.75em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 10px solid var(--secondary-color);
}

h3 {
    color: var(--primary-color);
    margin-bottom: 0;
    font-size: 1.5rem;
}

h4 {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 0;
    color: #838893;
}

p em {
    font-style: normal;
    font-weight: bold;
    color: var(--primary-color);
}

section#about {
    margin-bottom: 10rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.position ul {
    padding-left: 2rem;
}

.position ul li::marker {
    content: "»";
    letter-spacing: .5rem;
}

#contact-info a {
    font-weight: normal;
    color: var(--primary-color);
    text-decoration: none;
}

#contact-info a:hover, nav #contact-info a:hover i {
    color: var(--secondary-color);
    transition: color .15s ease-in-out;
}

#contact-info a i {
    color: var(--primary-color);
}
